@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin setPosition($position, $top, $left) {
	position: $position;
	top: $top;
	left: $left;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
}
