@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@mixin flex($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin position($position, $top, $left) {
	position: $position;
	top: $top;
	left: $left;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
	@include flex(column, center, center);
	min-height: 100vh;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	background: inherit;
	padding: 0.3em 0.5em;
}
