@import "resets";
@import "utilities";

body {
	@include flex(column, flex-start, center);
	font-family: "Lato", sans-serif;
	min-height: 100vh;
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

h1 {
	font-size: 4rem;
	margin-top: 1em;
}

.stocks {
	font-size: 1.3rem;
	width: 95%;
	max-width: 1200px;
	margin: 2em 0;
	padding: 1em 0.4em;
	border-radius: 13px;
	background-color: rgba(255, 255, 255, 0.65);
	table-layout: fixed;
	text-align: center;
	tr {
		height: 2.5em;
	}
	thead tr {
		vertical-align: top;
	}
}

.search-container {
	position: relative;
	font-size: 1.1rem;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	#search-box {
		border-radius: inherit;
		width: 100%;
		border: 0;
		padding: 0.4em 0.7em;
		&:focus {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			outline: 0;
		}
	}
	#search-results {
		@include flex(column, center, center);
		width: 100%;
		.search-item {
			display: block;
			width: 100%;
			background-color: white;
			padding: 0.4em 0.7em;
			&:nth-of-type(1) {
				border-top: 1px solid rgba(0, 0, 0, 0.5);
			}
			&:last-of-type {
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
			}
			&:hover {
				background-color: rgb(190, 239, 255);
				cursor: pointer;
			}
		}
	}
	#search-results.hidden {
		display: none;
	}
}

.dollar::before {
	content: "$";
}

.profit {
	color: limegreen;
}

.loss {
	color: red;
}

.modal {
	display: none;
	@include position(fixed, 0, 0);
	@include size(100vw, 100vh);
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	@include flex(column, center, center);
	@include centerAbsolute;
	@include size(20%, 20%);
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
}
