@import "config";

body {
	@include flex(column, flex-start, center);
	font-family: "Lato", sans-serif;
	min-height: 100vh;
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

h1 {
	font-size: 4rem;
	margin-top: 1em;
}

.search-container {
	position: relative;
	#search-box {
		border: 1px solid black;
		border-radius: 0;
		width: 100%;
	}
	#search-results {
		@include position(absolute, 100%, 0);
		@include flex(column, center, center);
		width: 100%;
		.search-item {
			display: block;
			width: 100%;
			background-color: white;
			padding: 0.3em 0.5em;
			border-top: 1px solid black;
			&:nth-of-type(1) {
				border-top: none;
			}
			&:hover {
				background-color: rgb(190, 239, 255);
				cursor: pointer;
			}
		}
		.hidden {
			display: none;
		}
	}
}

.stocks {
	font-size: 1.3rem;
	width: 95%;
	max-width: 1200px;
	margin: 3em 0;
	padding: 1em 0.4em;
	border-radius: 0.7rem;
	background-color: rgba(255, 255, 255, 0.65);
	table-layout: fixed;
	text-align: center;
	thead tr {
		height: 2.5em;
		vertical-align: top;
	}
}

.dollar::before {
	content: "$";
}

.profit {
	color: limegreen;
}

.loss {
	color: red;
}

.modal {
	display: none;
	@include position(fixed, 0, 0);
	@include size(100vw, 100vh);
	background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
	@include flex(column, center, center);
	@include position(absolute, 50%, 50%);
	transform: translate(-50%, -50%);
	@include size(20%, 20%);
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
}
